
/* Importando a fonte  */
@import url('https://fonts.googleapis.com/css?family=Raleway:300i&display=swap');
body{
  margin: 0;
  padding: 0; 
}
header{
  height:400px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.menu ul{
  font-size: 1em;
  list-style: none; /*Tira os pontos de lista */
  margin: 0;
  font-family: 'Raleway', sans-serif;
  top: 5%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%); /* Está Centralizando um elemento, dando a ele a posição (top, left ) */
}
.menu ul li{
  display: inline;
}
.menu ul li a {
  padding: 10px 25px; /* Distância entre os elementos do Menu*/
  display: inline-block; /* Manter em posição em Linha como Blocos */
  text-decoration: none; /* Deixa sem as linhas de link de baixo*/
  color: #ffffff;
}

.menu ul li a:hover{
  color: rgb(0, 0, 0);
}

/* Divs de Destaques Com Titulos no Menu
*/

.itens{
  color:rgb(0, 0, 0);
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  top: 30%;
  left:40%;
  position: absolute;
  transform: translate(-30%, -30%); /* Está Centralizando um elemento, dando a ele a posição (top, left ) */
}
.itens .menu-baixo {
  display: inline;
}
.itens .menu-baixo a{
  text-decoration: none; 
  padding: 10px 15px; /* Distância entre os elementos do Menu*/
  display: inline-block;
  color:rgb(0, 0, 0);
}
#element{
  border:2px solid rgb(255, 255, 255);
  color: #000;
  height:30px;
  width: 250px;
}
 /* Texto do Meio */
  #conteudo{
    margin-top: 5%;
  }
 .texto{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  color: rgb(255, 255, 255)
 }
.text{
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em;
  color: rgb(2, 0, 0);
}
/* DIVS  DE IMAGENS DO MEIO */

div.imagens{
  margin: 0;
  background-image: linear-gradient(to right,  rgb(255, 153, 153), rgb(255, 204, 204),rgb(255, 204, 204),rgb(194, 193, 193));
  position: absolute;
  width:100%; 
 /* opacity: 0.6;  */
}
.dafoto{
  margin-left: 95px;
  margin-top: 0.5em;
}
.foto{
  height: 450px;
  width: 350px;
  padding: 0 10px;
  margin-left: 10px;
}
/* PARTE de FORMULÁRIO DO SITE*/ 
.container-fluid{
  position: relative;
}

.row{
  background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
  position: absolute;
  margin-top: 35%;
  float: right;
}
.seo {
  float: right;
  position: relative;
  width: 50%;
  top: 420px;
  height: 30%;
}

/* */
