
/* Importando a fonte  */
@import url('https://fonts.googleapis.com/css?family=Raleway:300i&display=swap');
body{
  margin: 0;
  padding: 0; 
}
header{
  height:300px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.menu{
  display: flex;
  justify-content: center;
}
.menu ul{
  font-size: 1em;
  list-style: none; /*Tira os pontos de lista */
  font-family: 'Raleway', sans-serif;
}
.menu ul li{
  display: inline;
}
.menu ul li a {
  padding: 10px 25px; /* Distância entre os elementos do Menu*/
  display: inline-block; /* Manter em posição em Linha como Blocos */
  text-decoration: none; /* Deixa sem as linhas de link de baixo*/
  color: #ffffff;
}

.menu ul li a:hover{
  color: rgb(0, 0, 0);
}

.itens{
  display: flex;
  color:rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  justify-content: space-evenly;
  padding-top: 50px;
}
.itens .sub-itens a {
  text-decoration: none;
}
#sub-iten {
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
}
 /* Texto do Meio */
 
/* DIVS  DE IMAGENS DO MEIO */

div.imagens{
  margin: 0;
  background-image: linear-gradient(to right,  rgb(255, 153, 153), rgb(255, 204, 204),rgb(255, 204, 204),rgb(194, 193, 193));
  position: absolute;
  width:100%; 
 /* opacity: 0.6;  */
}
.dafoto{
  margin-left: 95px;
  margin-top: 0.5em;
}
.foto{
  height: 450px;
  width: 350px;
  padding: 0 10px;
  margin-left: 10px;
}
/* PARTE de FORMULÁRIO DO SITE*/ 
.container-fluid{
  position: relative;
}

/* */

#rodape {
  background-color: #ccc7c7;
  height: 400px;
  width: auto;
  position: relative;
  margin-top: 800px;
}
#linha{
  /* position: relative;
	left:0%;
  top:60%;
  margin-left:auto;
	margin-top:-40px; */
}
.Copyrigth{
  

  /* position: relative;
	left:0%;
  top:75%;
  margin-left:auto;
	margin-top:-40px;
  mar */
}