/* Importando a fonte  */
@import url('https://fonts.googleapis.com/css?family=Raleway:300i&display=swap');
body{
  margin: 0;
  padding: 0; 
}
header{
  height:350px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.menu{
  display: flex;
  justify-content: center;
}
.menu ul{
  font-size: 1em;
  list-style: none; 
  font-family: 'Raleway', sans-serif;
}
.menu ul li{
  display: inline;
}
.menu ul li a {
  padding: 10px 25px; 
  display: inline-block; 
  text-decoration: none; 
  color: #ffffff;
}

.menu ul li a:hover{
  color: rgb(0, 0, 0);
}

.itens{
  display: flex;
  color:rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  justify-content: space-evenly;
  padding-top: 50px;
}
.itens .sub-itens a {
  text-decoration: none;
}
#sub-iten {
  border: 2px solid rgb(255, 255, 255);
  padding: 5px;
}

 .titulo{
   font-size: 2em;
   text-align: center;
   padding-top: 20px;
 }
 .texto1{
   font-size: 1.50rem;
   opacity: 0.80;
   text-align: center;
 }
 
/* Divs arredondadas */

.imagens{
  display: flex;
  margin: 0;
  background-image: linear-gradient(120deg, #d3bebe 0%, hsl(0, 14%, 73%) 100%);  
  height: 450px;
}

.texto-imagens{
  text-align: center;
  height: 440px;
  width: 30%;
  margin: auto;
}

.foto{
  margin: auto;
  border-radius: 20px 20px 20px 20px;
  height: 80%;
  width: 80%;
}
.texto-transparente{
  margin-top: -39%;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  background: rgb(255, 234, 254);
  opacity: 0.75;
  height: 25%;
  margin-left: 41px;
  width: 80%;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  padding-top: 10px;
  color: rgb(0, 0, 0);
}
.texto-transparente a {
  text-decoration: none; 
}


#rodape {
  background-color: #ccc7c7;
}
